body{
background-size: cover;
}
.heading{
    width: 100%;
}
h1{
    float: left;
}
#button{
    float: right;
    font-size: 45px;
    border: 3px solid black;
}
canvas{
    text-align: center;
}
h3{
    line-height: 2;
    margin-bottom: 0px;
    bottom: 0px;
    width: 100%;
    background-color: honeydew;
    color: black;
    position: sticky;
    text-align: center;
}